
@{
    ViewData["Title"] = "Index";
}
<!-- Start Slide Section -->
<div class="slideshow">
    <div class="container d-flex">
        <div class="healthyfood col-lg-6">
            <h2>
                Enjoy Your Healthy
                Delicious Food
            </h2>
            <p>
                Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum
                quaerat.
            </p>
            <div class="player">
                <button class="btn" id="button">
                    <a href="#">Book a Table</a>
                </button>
                <a href="#">
                    <i class="fa-regular fa-circle-play"></i>
                    Watch Video
                </a>
            </div>
        </div>
        <div class="meal col-lg-6">
            <img src="~/./assets/Img/hero-img.png">
        </div>
    </div>
</div>
<!-- End Slide Section -->
<!-- Start Menu Section -->
<div class="container">
    <div class="menu">
        <h2>Our Menu</h2>
        <p>Check Our Yummy Menu</p>
        <span>Starters</span>
        <span>Breakfast</span>
        <span>Lunch</span>
        <span>Dinner</span>
        <h2 id="menu">Menu</h2>
        <p id="starter">Starters</p>
    </div>
    <div class="meals row">
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-1.png">
            <h4>Magnam Tiste</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$5.95</p>
        </div>
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-2.png">
            <h4>Aut Luia</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$14.95</p>
        </div>
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-3.png">
            <h4>Est Eligendi</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$8.95</p>
        </div>
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-4.png">
            <h4>Eos Luibusdam</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$12.95</p>
        </div>
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-5.png">
            <h4>Eos Luibusdam</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$12.95</p>
        </div>
        <div class="tiste col-lg-4">
            <img src="~/./assets/Img/menu-item-6.png">
            <h4>Laboriosam Direva</h4>
            <p>Lorem, deren, trataro, filede, nerada</p>
            <p class="price">$9.95</p>
        </div>
    </div>



</div>
<!-- End Menu Section -->
<!-- Start Forum section -->
<div class="container">
    <div class="bookforum">
        <div class="book">
            <h2>Book a table</h2>
            <p>
                Book
                <span>Your stay</span>
                with us
            </p>
        </div>
        <div class="forum row">
            <div class="forumimg col-lg-4">
                <img src="~/./assets/Img/reservation.jpg">
            </div>
            <div class="tobook col-lg-8">

                <input type="text" class="col-5" placeholder="Your Name">

                <input type="email" class="col-5" placeholder="Your Mail">

                <input type="text" class="col-5" placeholder="Your Phone">

                <input type="text" class="col-5" placeholder="Date">

                <input type="text" class="col-5" placeholder="Time">

                <input type="number" class="col-5" placeholder="#of people">

                <input id="msg" type="text" class="col-lg-10" placeholder="Message">
                <button class="buton">
                    <a href="#">Book a Table</a>
                </button>
            </div>

        </div>
    </div>
</div>